.parent{
    -fx-background-color: #303138;
}

.txt-field{
    -fx-background-color: #363b41;
    -fx-background-radius: 0px;
    -fx-prompt-text-fill: #ADADAD;
    -fx-text-fill: #FFFFFF;
}

.txt-field:focused{
    -fx-background-color: #363b41;
    -fx-background-radius: 0px;
    -fx-prompt-text-fill: #ADADAD;
}

.btn{
    -fx-background-color: #87d95b;
}